.App {
  font-family: sans-serif;
  text-align: center;
}

.template {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  max-width: 200px;
  width: 100%;
  gap: 5px;
  padding: 10px;
  justify-content: center;
}

@media screen and (min-width: 550px) {
  .container {
    max-width: 230px;
  }
}

.dados {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

.video {
  height: 100px;
  width: 100%;
  background-color: red;
}
.bolinha {
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 50%;
}
